<!-- All Shifts, Leads and tasks booked by a user -->
<template name="bookedTable">
  <div class="container-fluid p-0 bookedTable">
    <div class="row">
      <div class="container-fluid">
        {{#each shift in allShifts }}
          <div class="flex-column bookedTableItem p-0">
            {{> signupUserRowView signup=shift}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</template>

<template name="signupUserRowView">
  <div class="row no-gutters {{#unless $eq signup.status 'confirmed'}}text-muted{{/unless}}" title="{{__ signup.status}}">
    <div class="container-fluid">
    <div class="row p-2">
      <div class="col">
        {{#if $eq signup.type "project"}}
          {{> projectDateInline signup }}
        {{else}}
          {{#if $eq signup.type "shift"}}
            {{> shiftDateInline duty }}
          {{/if}}
        {{/if}}
      </div>
      <div class="col">
        <h6>{{team.name}} &gt; {{duty.title}}</h6>
      </div>
    </div>
    <div class="row px-1 py-0">
      <div class="col">
        {{#if $eq signup.status "confirmed"}}<div class="text-success">{{fa "check"}} {{__ ".confirmed"}}</div>{{/if}}
        {{#if $eq signup.status "pending"}}<div class="text-warning">{{fa "clock-o"}} {{__ ".pending"}}</div>{{/if}}
      </div>
      <div class="col px-1 py-0"></div>

      <div class="col px-1 py-0">
        <button type="button" class="btn btn-primary btn-action" data-action="info"
          data-shiftId="{{signup.shiftId}}" data-type="{{signup.type}}"
          data-parentId="{{signup.parentId}}" data-userId={{signup.userId}}>
          {{__ ".info"}}
        </button>
      </div>

      {{#if $eq signup.type "project"}}
        <div class="col px-1 py-0">
          <button type="button" class="btn btn-primary btn-action" data-action="edit"
            data-shiftId="{{signup.shiftId}}" data-type="{{signup.type}}"
            data-parentId="{{signup.parentId}}" data-userId={{signup.userId}}>
            {{__ ".change_dates"}}
          </button>
        </div>
      {{/if}}

      <div class="col px-0">
        <button type="button" class="btn btn-primary btn-action" data-action="bail"
          data-shiftId="{{signup.shiftId}}" data-type="{{signup.type}}"
          data-parentId="{{signup.parentId}}" data-userId={{signup.userId}}>
          {{__ ".bail"}}
        </button>
      </div>
    </div>
  </div>
  </div>
</template>

<template name="tasksUserRowView">
  <tr>
    <td>{{team.name}} {{task.title}}</td>
    <td>
      {{fa "task"}}
      {formatDate task.dueDate}} - {{__ ".estimated_time"}} {{task.estimatedTime}}
    </td>
  </tr>
</template>

<template name="leadsUserRowView">
  <div class="row">
    <div class="col">{{unit.name}}</div>
    <div class="col">{{fa "user-circle"}} {{lead.title}}</div>
  </div>
</template>
