<!-- all Restricted shifts and tasks requests for a given team -->
<template name="teamSignupsList">
  {{#if Template.subscriptionsReady }}
  <ul class="list-group">
    {{#each signup in allSignups}}
      <li class="list-group-item p-2">
        <div class="row no-gutters">
          <div class="col">
            {{ signup.duty.title }}
            {{#if $eq signup.type 'shift'}}
              {{> shiftDateInline signup.duty }}
            {{/if}}
            {{#if $eq signup.type 'project'}}
              {{> projectDateInline signup }}
            {{/if}}
            {{#if $eq signup.type 'task'}}
              {{> taskDate signup.duty }}
            {{/if}}
          </div>
          <div class="col" data-action="user-info" data-id="{{ signup.userId }}">
            {{> Template.dynamic template=userInfoTemplate data=signup}}
            <!-- XXX to be fixed -->
            <!-- <small>{{__ ".created"}}: {{createdAgo signup.createdAt}}</small> -->
          </div>
          <div class="col">
            <button class="btn btn-default btn-sm" data-action="approve"
              data-signup="{{ signup._id }}" data-type="{{ signup.type }}">
                {{__ '.approve' }}
            </button>
            <button class="btn btn-default btn-sm" data-action="refuse"
              data-signup="{{ signup._id }}" data-type="{{ signup.type }}">
                {{__ '.refuse' }}
            </button>
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
  {{/if}}
</template>

<!-- all Lead team requests for a given department -->
<template name="departmentSignupsList">
  <table class="table table-striped">
    <tbody>
      {{#each signup in allSignups}}
        <tr>
          <td>
              {{fa "user-circle"}}
              {{#if signup.userId}}{{getUserName signupuserId}}{{else}}{{__ ".vacant"}}{{/if}}
          </td>
          <td>{{signup.duty.title}} <small>{{signup.unit.name}}</small></td>
          <td>{{getUserName signup.userId}}</td>
          <td>
            <button class="btn btn-default btn-sm" data-action="approve"
              data-signup="{{ signup._id }}">
                {{__ '.approve' }}
            </button>
            <button class="btn btn-default btn-sm" data-action="refuse"
              data-signup="{{ signup._id }}">
                {{__ '.refuse' }}
            </button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>

<!-- TODO : department Lead requests for a division -->

<!-- all division and departments Lead request for the manager -->
<template name="managerSignupsList">
  <table class="table table-striped">
    <tbody>
      {{#each signup in allSignups}}
        <tr>
          <td>
              {{fa "user-circle"}}
              {{#if signup.userId}}{{getUserName signupuserId}}{{else}}{{__ ".vacant"}}{{/if}}
          </td>
          <td>{{signup.duty.title}} <small>{{signup.unit.name}}</small></td>
          <td>{{getUserName signup.userId}}</td>
          <td>
            <button class="btn btn-default btn-sm" data-action="approve"
              data-signup="{{ signup._id }}">
                {{__ '.approve' }}
            </button>
            <button class="btn btn-default btn-sm" data-action="refuse"
              data-signup="{{ signup._id }}">
                {{__ '.refuse' }}
            </button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>
