<!-- used to display all shifts for a given team
     Args: team
-->
<template name="teamShiftsTable">
  <table class="table">
    {{#each family in groupedShifts}}
    <thead class="thead-default">
      <tr class="shiftFamily table-active">
        <td colspan="4"><h5>{{family.title}}</h5></td>
        <td>
          <button type="button" class="btn btn-default btn-sm"
            data-id="{{getRandomShiftId family.groupId}}" data-type="shift" data-action="edit_group">
            {{fa "pencil-square-o"}} {{__ ".edit_group"}}
          </button>
        </td>
        <!-- <td>
          <button type="button" class="btn btn-default btn-sm"
            data-id="" data-type="shift" data-action="add_date">
            {{fa "calendar"}} {{__ ".add_date"}}
          </button>
        </td> -->
<!--        <td>
          <button type="button" class="btn btn-default btn-sm"
            data-groupid="{{family.groupId}}" data-parentid="{{_id}}" data-type="shift" data-action="delete_group">
            {{fa "trash-o"}} {{__ ".delete_rota"}}
          </button>
        </td>
-->
      </tr>
    </thead>
    <tbody>
      {{#each shift in family.shifts }}
        <tr class="shift family-{{family.groupId}}" data-id="{{shift._id}}" data-type="{{shift.type}}">
          <th scope="row">
            <!-- #{{shift.rotaId}} -->
            <span>
            {{#if $eq shift.priority "essential"}}
              <span class="text-danger">{{fa "exclamation-circle"}}</span>
            {{/if}}
            {{#if ($eq shift.policy 'private')}}{{fa 'user-secret'}}{{/if}}
            {{#if ($eq shift.policy 'requireApproval')}}{{fa 'lock'}}{{/if}}
            {{#if ($eq shift.policy 'adminOnly')}}{{fa 'user-secret'}}{{/if}}
          </span>
          </th>
          <td> {{> shiftDateInline shift}} </td>
          <td colspan="2">
            <!-- {{> progressBarShifts shift}} -->
            <div data-toggle="tooltip" data-placement="top" title="Min/Max: {{shift.min}}/{{shift.max}} - Confirmed: {{shift.confirmed}}">
              {{#if $neq shift.needed 0}}
                <span class="inline">{{shift.needed}} {{__ ".more_needed"}}</span>
              {{else}}
                <!-- <span class="bg-success"> -->
                  {{__ ".full"}}
                <!-- </span> -->
              {{/if}}
            </div>
          </td>
          <td>
            <div class="btn-group inline pull-left">
              <button class="btn btn-sm btn-circle" href="#"
                data-action="edit" data-id="{{shift._id}}" data-type="shift">
                    {{fa "pencil-square-o"}}</button>
              <button class="btn btn-sm btn-circle" href="#"
                data-action="delete" data-id="{{shift._id}}" data-type="shift">
                    {{fa "trash-o"}}</button>
              {{> Template.contentBlock shift=shift }}
            </div>
          </td>
        </tr>
        {{#if $gt shift.confirmed 0}}
          <tr class="shift family-{{family.groupId}}">
            <td colspan="4">
              <table class="table table-borderless">
                <tbody>
                  {{#each signup in shift.signups }}
                    <tr>
                      <td>{{$incr @index}}
                          {{#if signup.enrolled}}
                            <small data-toggle="tooltip" data-placement="top" title="{{__ '.voluntold'}}">
                              {{fa "hand-spock-o"}}
                            </small>
                          {{/if}}
                      </td>
                      <td> {{> Template.dynamic template=userInfoTemplate data=signup}} </td>
                      <td>
                        <button
                           class="btn btn-sm btn-circle"
                            data-action="un-enroll"
                            data-type="shift"
                            data-userid="{{signup.userId}}"
                            data-shiftid="{{shift._id}}">
                            {{fa "trash-o"}}
                        </button>
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </td>
          </tr>
        {{/if}}
      {{/each}}
    </tbody>
    {{/each}}
  </table>
</template>

<template name="teamShiftsRota">
  <div class="container">
    <div class="row">
      <div class="col">
        {{#each day in groupedShifts}}
          <div class="card">
            <div class="card-header"><h4 div="card-title">Shift for the day : {{day.day}}</h4></div>
            <div class="card-body">
              <table class="table">
                {{#each family in day.shifts}}
                <thead class="thead-default">
                  <tr class="shiftFamily table-active">
                    <td colspan="2"><h5>{{family.title}}</h5></td>
                  </tr>
                </thead>
                <tbody>
                  {{#each shift in family.shifts }}
                    <tr class="shift family-{{family.groupId}}" data-id="{{shift._id}}" data-type="{{shift.type}}">
                      <td> <h2>{{> shiftDateInline shift}} </h2></td>
                      <td>
                        {{#if $neq shift.needed 0}}
                          <span class="inline">{{shift.needed}} {{__ ".more_needed"}}</span>
                        {{else}}
                            {{__ ".full"}}
                        {{/if}}
                      </td>
                    </tr>
                    {{#if $gt shift.confirmed 0}}
                      <tr class="shift family-{{family.groupId}}">
                        <td colspan="2">
                          <ul>
                            {{#each signup in shift.signups }}
                              <li>
                                <!-- {{> Template.dynamic template=userInfoTemplate data=signup}} -->
								{{getUserName signup.userId}}  - <a href="mailto:{{getUserEmail signup.userId}}">{{getUserEmail signup.userId}}</a>
                              </li>
                            {{/each}}
                          </ul>
                        </td>
                      </tr>
                    {{/if}}
                  {{/each}}
                </tbody>
                {{/each}}
              </table>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</template>

<!-- used to display all projects for a given team
     Args: team
-->
<template name="teamProjectsTable">
  <table class="table">
    {{#each project in allProjects }}
      <tr>
        <td>
          {{#if $eq project.priority "essential"}}
            <div class="text-danger">{{fa "exclamation-circle"}}</div>
          {{/if}}
        </td>
        <td>{{> projectDateInline project}}</td>
        <td>{{project.title}}</td>
        <td>
          <div class="btn-group inline pull-left">
            <button class="btn btn-sm btn-circle"
                data-action="edit"
                data-id="{{project._id}}"
                data-type="project">
                {{fa "pencil-square-o"}}</button>
            <button class="btn btn-sm btn-circle"
                data-action="delete"
                data-id="{{project._id}}"
                data-type="project">
                {{fa "trash-o"}}</button>
            {{> Template.contentBlock project=project }}
          </div>
        </td>
      </tr>
      <tr><td colspan="4">
        {{> projectStaffingChart project=project }}
      </td></tr>
      {{#if $gt project.confirmed 0}}
        <tr class="shift {{family.class}}">
          <td colspan="4">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">{{__ ".name"}}</th>
                  <th scope="col">{{__ ".arrival"}}</th>
                  <th scope="col">{{__ ".departure"}}</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {{#each signup in project.volunteers }}
                  <tr>
                    <td>{{$incr @index}}</td>
                    <td> {{> Template.dynamic template=userInfoTemplate data=signup}} </td>
                    <td>{{formatDate signup.start}}</td>
                    <td>{{formatDate signup.end}}</td>
                    <td>
                      <div class="btn-group inline pull-left">
                        <button class="btn btn-sm btn-circle"
                            data-action="edit-enrollment"
                            data-userid="{{signup.userId}}"
                            data-shiftid="{{project._id}}"
                            data-type="project">
                            {{fa "pencil-square-o"}}</button>
                        <button class="btn btn-sm btn-circle"
                            data-action="un-enroll"
                            data-type="project"
                            data-userid="{{signup.userId}}"
                            data-shiftid="{{project._id}}">
                            {{fa "trash-o"}}
                        </button>
                      </div>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </td>
        </tr>
      {{/if}}
    {{/each}}
  </table>
</template>

<template name="projectStaffingChart">
  {{> stackedBar barData=(stackedBarData project) hideConfirmed=hideConfirmed }}
</template>

<template name="stackedBar">
  <div class="chart-container">
    <canvas id="StackedBar-{{barData._id}}" class="chart"></canvas>
  </div>
</template>

<template name="teamPie">
  <canvas id="teamPie-{{_id}}" class="chart"></canvas>
</template>

<!-- used to display all tasks for a given team
     Args: team
-->
<template name="teamTasksTable">
  <table class="table">
    <thead>
      <th></th>
      <th>{{__ ".duedate"}}</th>
      <th>{{__ ".name"}}</th>
      <th>{{__ ".positions"}}</th>
      <th></th>
    </thead>
    {{#each shift in allTasks }}
      <tr class="shift" data-id="{{shift._id}}">
        <td>
          {{#if $eq shift.priority "essential"}}
            <div class="text-danger">{{fa "exclamation-circle"}}</div>
          {{/if}}
        </td>
        <td>{{> taskDate shift}}</td>
        <td>{{shift.title}}
          {{#if ($eq shift.policy 'public')}}{{fa 'globe'}}{{/if}}
          {{#if ($eq shift.policy 'private')}}{{fa 'user-secret'}}{{/if}}
          {{#if ($eq shift.policy 'requireApproval')}}{{fa 'lock'}}{{/if}}
        </td>
        <td class="pull-rigth">
          <span class="badge badge-pill badge-primary">{{shift.needed}} / {{shift.confirmed}}</span>
        </td>
        <td>
          <div class="btn-group pull-right">
            <button type="button"
              class="btn btn-default btn-circle dropdown-toggle {{#if grouping}}disabled{{/if}}"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a href="#" data-action="edit" data-id="{{shift._id}}">
                {{fa "pencil-square-o"}} {{__ ".edit"}}</a></li>
              <li class="dropdown-item"><a href="#" data-action="delete" data-id="{{shift._id}}">
                {{fa "trash-o"}} {{__ ".remove"}}</a></li>
              <li class="dropdown-item"><a href="#" data-action="clone" data-id="{{shift._id}}">
                {{fa "clone"}} {{__ ".clone"}}</a></li>
            </ul>
          </div>
        </td>
      </tr>
    {{/each}}
  </table>
</template>
